@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');
$primaryColor: #BB3A3A;
$secondaryColor: rgb(248, 248, 248);
$fontColor: #474747;
$primaryFont: 'Manrope', sans-serif;
$secondaryFont: 'Manrope', sans-serif;
$sectionPadding: 4rem 1.5rem;
    
