@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
$primaryColor: #bb3a3a;
$secondaryColor: rgb(248, 248, 248);
$fontColor: #474747;
$primaryFont: 'Manrope', sans-serif;
$sectionPadding: 4rem 1.5rem;
