@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
.page-about header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.page-about header nav {
  color: #BB3A3A;
}

.page-about header .fill {
  fill: #BB3A3A;
}

.page-about header .stroke {
  stroke: #BB3A3A;
}

.page-about .main-nav a {
  color: #BB3A3A;
}

.page-about .main-nav .fill {
  fill: #BB3A3A;
}

.page-about .main-nav .stroke {
  stroke: #BB3A3A;
}

.page-about main {
  position: relative;
  height: auto;
  overflow: hidden;
  min-height: 100vh;
}

.page-about .about-content p {
  font-size: 1rem;
}

.page-about .about-content .arrow-button {
  background: none;
  border: solid 1px #BB3A3A;
  color: #BB3A3A;
  width: 225px;
}

.page-about .portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-about .portrait img {
  width: 100%;
  width: 400px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

.page-about .portrait img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.page-about .portrait-container {
  overflow: hidden;
}

.page-about .about-container {
  padding: 0 1.5rem;
  padding-top: 100px;
}

@media only screen and (min-width: 500px) {
  .page-about .about-content {
    width: 400px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .page-about .about-content {
    width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .page-about main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 1000px;
  }
  .page-about .about-container {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-about .about-content {
    width: 400px;
  }
  .page-about .portrait-container {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    height: 100%;
  }
  .page-about .portrait {
    height: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .page-about .portrait img {
    height: 700px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 900px) {
  .page-about .about-content {
    width: 450px;
  }
}

@media only screen and (min-width: 1024px) {
  .page-about main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .page-about .portrait-container img {
    height: 100%;
  }
}

@media only screen and (min-width: 1100px) {
  .page-about .about-content {
    width: 500px;
  }
}

@media only screen and (min-width: 1368px) {
  .page-about .portrait-container img {
    height: 100%;
    width: auto;
  }
  .page-about .about-container {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .page-about .portrait-container {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media only screen and (min-width: 1700px) {
  .page-about main {
    height: 100vh;
  }
  .page-about .about-content {
    margin: 0;
    width: 650px;
  }
  .page-about .about-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=About.css.map */