@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
.page-contact header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 2;
  position: relative;
}

.page-contact main {
  background: url("/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 100px;
  padding-bottom: 3rem;
  position: relative;
}

.page-contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.page-contact .contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 1.5rem;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.page-contact .contact-left h1, .page-contact .contact-left p {
  position: relative;
  color: white;
}

.page-contact .contact-left img {
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}

.page-contact .contact-left .contact-info {
  position: relative;
  color: white;
  margin-top: 2rem;
}

.page-contact .contact-left .contact-info a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.page-contact .background {
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.page-contact .contact-form-container {
  padding: 2rem 1.5rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-contact .contact-form h2, .page-contact .contact-form p, .page-contact .contact-form label {
  color: white;
}

.page-contact .contact-form p, .page-contact .contact-form label {
  font-size: 1rem;
}

.page-contact .contact-form label {
  font-weight: bold;
}

.page-contact form input, .page-contact form textarea {
  padding: 1.25rem 1rem;
}

.page-contact form input, .page-contact form textarea {
  border: none;
  background: rgba(255, 255, 255, 0.616);
}

.page-contact .success-message {
  background: #BB3A3A;
  padding: .25rem .75rem;
}

.page-contact .success-message p {
  line-height: normal;
}

.page-contact .contact-left .iconify {
  font-size: 1.5rem;
}

.page-contact .contact-left .item:last-of-type {
  margin-top: 1rem;
}

@media only screen and (min-width: 500px) {
  .page-contact .contact-form, .page-contact .contact-left {
    width: 400px;
    margin: 0 auto;
  }
  .page-contact .contact-left {
    padding: 2rem 0;
  }
}

@media only screen and (min-width: 600px) {
  .page-contact .contact-form, .page-contact .contact-left {
    width: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .page-contact .contact-left-container h1 {
    font-size: 3rem;
  }
  .page-contact .contact-left .contact-info svg, .page-contact .contact-left .contact-info a {
    display: inline;
    vertical-align: middle;
  }
  .page-contact .contact-left .contact-info svg {
    margin-right: 1rem;
  }
  .page-contact main {
    padding-top: 150px;
  }
}

@media only screen and (min-width: 1024px) {
  .page-contact .contact-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page-contact .contact-form-container {
    padding: 0;
    padding-right: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-contact .contact-form, .page-contact .contact-left {
    padding: 0;
  }
  .page-contact .contact-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .page-contact .contact-left-container {
    width: 350px;
  }
  .page-contact .contact-left-container h1 {
    font-size: 3.5rem;
  }
  .page-contact .contact-form {
    width: 400px;
  }
}

@media only screen and (min-width: 1368px) {
  .page-contact main {
    padding-top: 200px;
  }
  .page-contact .contact-form {
    width: 500px;
  }
  .page-contact .contact-form-container {
    margin: auto;
  }
  .page-contact .contact-left {
    margin-right: -2rem;
  }
  .page-contact .contact-left-container {
    width: 450px;
  }
  .page-contact .contact-left-container h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1920px) {
  .page-contact main {
    height: 100vh;
  }
  .page-contact .contact-left-container {
    width: 500px;
  }
  .page-contact .contact-left-container h1 {
    font-size: 5rem;
  }
  .page-contact .contact-left-container p, .page-contact .contact-left-container a {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=Contact.css.map */