@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
.page-contact header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 2;
  position: relative;
}

.page-contact main {
  height: auto;
  position: relative;
}

.page-contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

.page-contact .contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.5rem;
  position: relative;
  z-index: 2;
  height: 600px;
  width: 100%;
  background: url("/contact.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-contact .contact-left h1,
.page-contact .contact-left p {
  position: relative;
  color: white;
}

.page-contact .contact-left img {
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}

.page-contact .contact-left .contact-info {
  position: relative;
  color: white;
  margin-top: 2rem;
}

.page-contact .contact-left .contact-info a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.page-contact .background {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.page-contact .contact-right {
  padding: 0 1.5rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 750px;
}

.page-contact .contact-form p {
  font-size: 1rem;
}

.page-contact .contact-form label {
  display: inline;
  color: white;
  color: #474747;
}

.page-contact form {
  border-radius: 5px;
  position: relative;
}

.page-contact form input,
.page-contact form textarea {
  padding: 1.25rem 1rem;
}

.page-contact form input,
.page-contact form textarea {
  border: none;
  border: 1px #d1d1d1 solid;
  border-radius: 5px;
}

.page-contact form h2 {
  color: #bb3a3a;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.page-contact form .button {
  width: 175px;
  width: 100%;
}

.page-contact .error-msg {
  color: red;
  margin-left: 0.5rem;
  display: none;
}

.page-contact .message {
  padding: 0.25rem 0.75rem;
}

.page-contact .message p {
  line-height: normal;
  color: white;
}

.page-contact .success-message {
  background: green;
}

.page-contact .error-message {
  background: red;
}

.page-contact .contact-left .iconify {
  font-size: 1.5rem;
}

.page-contact .contact-left .item:last-of-type {
  margin-top: 1rem;
}

@media only screen and (min-width: 500px) {
  .page-contact .contact-left-container,
  .page-contact .contact-form form {
    width: 400px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .page-contact .contact-left-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .page-contact .contact-left-container h1 {
    font-size: 3rem;
  }
  .page-contact .contact-left .contact-info svg,
  .page-contact .contact-left .contact-info a {
    display: inline;
    vertical-align: middle;
  }
  .page-contact .contact-left .contact-info svg {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .page-contact .contact-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page-contact .contact-left,
  .page-contact .contact-right {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding: 0;
  }
  .page-contact .contact-left-container,
  .page-contact .contact-form form {
    margin: 0;
  }
  .page-contact .contact-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 750px;
  }
  .page-contact .contact-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .page-contact .contact-left-container {
    width: 350px;
  }
  .page-contact .contact-left-container h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1368px) {
  .page-contact .contact-right {
    margin: auto;
  }
  .page-contact .contact-left-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media only screen and (min-width: 1920px) {
  .page-contact main {
    height: 100vh;
  }
  .page-contact .contact-right {
    height: 100vh;
  }
  .page-contact .contact-right form {
    width: 500px;
  }
  .page-contact .contact-right form h2 {
    font-size: 3rem;
  }
  .page-contact .contact-left {
    height: 100vh;
  }
  .page-contact .contact-left-container h1 {
    font-size: 4rem;
  }
  .page-contact .contact-left-container p,
  .page-contact .contact-left-container a {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=Contact.css.map */