@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: $secondaryFont;
  color: rgb(34, 34, 34);
  //cursor: none;
}

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height:100%;
}

h1 {
  font-size: 2.5rem;
  font-family: $primaryFont;
  letter-spacing: 2px;
  display: inline-block;
  margin: 0;
}

h1, h2,h3 {
  font-weight: 500;
  color: $fontColor;
}

p, a, label {
  font-size: 1.1rem;
  letter-spacing: .5px;
}

h3 {
  letter-spacing: 1px;
}

p {
  line-height: 30px;
  color: $fontColor;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  display: inline-block;
  background: $primaryColor;
  border: none;
  color: white;
  width: 200px;
  padding: .75rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  font-size: 1rem;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: #ce0000;
  }
}

button {
  cursor: pointer;
}

.basic-link {
  display: inline-block;
  color: $primaryColor;
  border: solid 1px $primaryColor;
  width: 175px;
  text-align: center;
  padding: .75rem 0;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
}

.arrow-button {
  background: none;
  border: solid 1px white;

  img {
    margin-left: .75rem;
    width: 23px;
    height: auto;
    transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover > img {
      margin-left: 1.25rem;
  }

  &:hover {
    background: none;
  }
}

.header {
  position: relative;
  display: inline-block;
}

.label {
  font-weight: 500;
  color: $primaryColor;
  margin: 1rem 0;
  letter-spacing: .5px;
}

label, input, textarea {
  display: block;
  width: 100%;
  text-align: left;
}

input, textarea {
  font-size: 1.1rem;
  font-family: $primaryFont;
  border: solid 1px rgb(219, 219, 219);
  color: $fontColor;
}

input {
  height: 2rem;
}

.form-item {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card {
  cursor: pointer;
}

.bold {
  font-weight: 600;
}

.error-msg {
  font-size: .9rem !important;
  color: grey;
  margin: 0;
  text-align: left;
}

header {
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    color: white;
    padding: 1rem 1.5rem;
    z-index: 1;

    a {
        margin-right: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        display: none;

        &:last-of-type {
            margin: 0;
        }
    }

    .mobile-nav a {
      display: block;
    }
}

.anre-logo {
    display: inline;

    svg {
        width: 125px;
        height: auto;
    }
}
}

.not-found {
  min-height: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-end;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $sectionPadding;
    padding-bottom: 1rem;
    text-align: center;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  h2 {
    margin: 0;
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }

  header {
    nav {
      color: $primaryColor;
    }

    .fill {
        fill: $primaryColor;
    }

    .stroke {
        stroke: $primaryColor;
    }
  }
}

/**************************/
/********* FOOTER *********/
/**************************/
footer {
  display: flex;
  flex-direction: column;
  border-top: solid 1px rgb(219, 219, 219);

  p, a, h2 {
    margin: initial;
  }

  h3 {
    margin: 1rem 0;
    color: $primaryColor;
  }

  .logos {
    margin: 0 auto;
    width: min-content;

    img {
      object-fit: contain;
      
      &:first-of-type {
        margin-bottom: 1rem;
      }
    }
  }

  .footer-logo {
    position: relative;
    width: 200px;
    height: 100px;
  }

  .sub-section {
    margin-bottom: 2rem;
  }

  .sitemap {
    a {
      display: block;
      line-height: 30px;
    }
  }
}

.footer-top {
  padding: 2rem 0;
  text-align: center;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  border-top: solid 1px rgb(219, 219, 219);
  padding: 1rem;

  p, a {
    font-size: .9rem;
  }
}

@media only screen and (min-width: 768px) {
  header {
    nav {
      padding: 3rem 2rem;
      justify-content: space-between;

      a {
          display: inline-block;
      }
    }
  }

  footer {
    align-items: flex-start;

    .section {
      width: 100%;
      padding-left: 2rem;
    }

    .sub-section {
      margin: 0;
      margin-right: 2rem;
    }

    .contact-info {
      width: max-content;
    }

    .logos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 4rem;

      img {
        &:first-of-type {
          margin-bottom: 1.5rem;
        }
      }
    }

    .footer-logo {
      width: 175px;
      height: 75px;
    }

  .footer-bottom {
      justify-content: flex-end;
      flex-direction: row-reverse;
      text-align: left;
      
      p {
        margin-right: 2rem;
      }
    }
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding: 3rem 0;
  }
}

@media only screen and (min-width: 1368px) {
  header {
    nav {
        padding: 4rem 6rem;
    }

    .anre-logo {
      display: inline;
  
      svg {
          width: 150px;
          height: auto;
      }
    }
  }

  footer {
    .section {
      padding-left: 4rem;
    }

    .sub-section {
      margin-right: 4rem;
    }

    .logos {
      margin-right: 6rem;
    }
  }
}

@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 3rem;
  }

  header {
    nav {
      padding: 3rem 8rem;
    }
  }

  footer {
    .section {
      padding-left: 6rem;
    }
  }
}