@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Manrope", sans-serif;
  color: #222222;
}

#__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  display: inline-block;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: #474747;
}

p,
a,
label {
  letter-spacing: 0.5px;
}

p,
a {
  font-size: 1.1rem;
}

h3 {
  letter-spacing: 1px;
}

p {
  line-height: 30px;
  color: #474747;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  display: inline-block;
  background: #bb3a3a;
  border: none;
  color: white;
  width: 200px;
  padding: 0.75rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  font-size: 1rem;
  -webkit-transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-weight: 500;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
}

.button:hover {
  background: #ce0000;
}

button {
  cursor: pointer;
}

.basic-link {
  display: inline-block;
  color: #bb3a3a;
  border: solid 1px #bb3a3a;
  width: 175px;
  text-align: center;
  padding: 0.75rem 0;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
}

.arrow-button {
  background: none;
  border: solid 1px white;
}

.arrow-button img {
  margin-left: 0.75rem;
  width: 23px;
  height: auto;
  -webkit-transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.arrow-button:hover > img {
  margin-left: 1.25rem;
}

.arrow-button:hover {
  background: none;
}

.header {
  position: relative;
  display: inline-block;
}

.label {
  font-weight: 500;
  color: #bb3a3a;
  margin: 1rem 0;
  letter-spacing: 0.5px;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  text-align: left;
}

input,
textarea {
  font-family: "Manrope", sans-serif;
}

input,
textarea {
  font-size: 1rem;
  border: solid 1px #dbdbdb;
  color: #474747;
}

input {
  height: 2rem;
}

.form-item {
  margin-bottom: 1rem;
}

.form-item:last-of-type {
  margin-bottom: 0;
}

.required {
  color: red;
  font-weight: bold;
}

.required-notice {
  font-size: 1rem;
}

.card {
  cursor: pointer;
}

.bold {
  font-weight: 600;
}

.error-msg {
  color: grey;
  margin: 0;
  text-align: left;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
  color: white;
  padding: 1rem 1.5rem;
  z-index: 1;
}

header nav a {
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  display: none;
}

header nav a:last-of-type {
  margin: 0;
}

header nav .mobile-nav a {
  display: block;
}

header .anre-logo {
  display: inline;
}

header .anre-logo svg {
  width: 125px;
  height: auto;
}

.not-found {
  min-height: 800px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.not-found main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.not-found h1 {
  margin-bottom: 1.5rem;
}

.not-found h2 {
  margin: 0;
  font-size: 2rem;
}

.not-found p {
  font-size: 1.25rem;
}

.not-found header nav {
  color: #bb3a3a;
}

.not-found header .fill {
  fill: #bb3a3a;
}

.not-found header .stroke {
  stroke: #bb3a3a;
}

/**************************/
/********* FOOTER *********/
/**************************/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: solid 1px #dbdbdb;
}

footer p,
footer a,
footer h2 {
  margin: initial;
}

footer h3 {
  margin: 1rem 0;
  color: #bb3a3a;
}

footer .logos {
  margin: 0 auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

footer .logos img {
  -o-object-fit: contain;
     object-fit: contain;
}

footer .logos img:first-of-type {
  margin-bottom: 1rem;
}

footer .footer-logo {
  position: relative;
  width: 200px;
  height: 100px;
}

footer .sub-section {
  margin-bottom: 2rem;
}

footer .sitemap a {
  display: block;
  line-height: 30px;
}

.footer-top {
  padding: 2rem 0;
  text-align: center;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  border-top: solid 1px #dbdbdb;
  padding: 1rem;
}

.footer-bottom p,
.footer-bottom a {
  font-size: 0.9rem;
}

@media only screen and (min-width: 768px) {
  header nav {
    padding: 3rem 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav a {
    display: inline-block;
  }
  footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .section {
    width: 100%;
    padding-left: 2rem;
  }
  footer .sub-section {
    margin: 0;
    margin-right: 2rem;
  }
  footer .contact-info {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  footer .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 4rem;
  }
  footer .logos img:first-of-type {
    margin-bottom: 1.5rem;
  }
  footer .footer-logo {
    width: 175px;
    height: 75px;
  }
  footer .footer-bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: left;
  }
  footer .footer-bottom p {
    margin-right: 2rem;
  }
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    padding: 3rem 0;
  }
}

@media only screen and (min-width: 1368px) {
  header nav {
    padding: 4rem 6rem;
  }
  header .anre-logo {
    display: inline;
  }
  header .anre-logo svg {
    width: 150px;
    height: auto;
  }
  footer .section {
    padding-left: 4rem;
  }
  footer .sub-section {
    margin-right: 4rem;
  }
  footer .logos {
    margin-right: 6rem;
  }
}

@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 3rem;
  }
  header nav {
    padding: 3rem 8rem;
  }
  footer .section {
    padding-left: 6rem;
  }
}
/*# sourceMappingURL=globals.css.map */