@import 'variables';

.page-properties {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 400px;
        background: url('/properties.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        position: relative;

        h1 {
            color: white;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1rem;
        }

        .background {
            background: rgba(0, 0, 0, 0.25);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }
    }

    .filters {
        width: 100%;
        background: $secondaryColor;
    }

    form {
        padding: 1.5rem;

        label {
            font-size: .9rem;
            margin-bottom: .25rem;
        }

        select {
            height: 50px;
            width: 100%;
            border: none;
            background: white;
            font-size: 1rem;
            letter-spacing: .5px;
            color: rgb(122, 122, 122);
            padding: .5rem 1rem;
            font-family: $primaryFont;
        }
    
        select {
            cursor: pointer;
        }

        .filter-item {
            margin-bottom: 1rem;
        }
    
        ::placeholder {
            color: rgb(122, 122, 122);
            opacity: 1;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $sectionPadding;
        position: relative;
    }

    .results-count {
        position: absolute;
        top: 0;
        font-size: .9rem;
    }

    .status-label {
        position: absolute;
        top: 1rem;
        background: rgba(0, 0, 0, 0.603);
        z-index: 1;
        width: 125px;
        padding: .1rem 0;

        p {
            color: white;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .property-card {
        height: auto;
        width: 100%;
        margin-bottom: 1rem;
        position: relative;

        p {
            margin: 0;
            font-size: 1rem;
        }
    }

    .property-image {
        position: relative;
        height: 175px;

        img {
            object-fit: cover;
            transition: ease-in-out .3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .property-info {
        display: flex;
        flex-direction: column;
        background: white;
        border: solid 1px rgb(219, 219, 219);
        border-top: none;
    }

    .property-top {
        border-bottom: solid 1px rgb(219, 219, 219);
        padding: .5rem;
    }

    .price {
        font-size: 1.3rem !important;
    }

    .property-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .iconify, p {
            display: inline;
        }

        .iconify {
            margin-right: .5rem;
        }
    }

    .info {
        padding: .25rem .5rem;
    }

    .bed {
        border-left: solid 1px rgb(219, 219, 219);
        border-right: solid 1px rgb(219, 219, 219);
    }

    @media only screen and (min-width: 500px) {
        .property-card {
            width: 400px;
        }

        .button {
            margin-top: 0;
            width: 150px;
        }

        form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;

            .filter-item {
                min-width: 150px;
                width: auto;
                margin-right: 1rem;
            }

            .button {
                height: 50px;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        header {
            h1 {
                font-size: 3rem;
            }
        }

        main {
            flex-direction: row;
            flex-wrap: wrap;
            width: 730px;
            margin-right: -1rem;
        }

        .property-card {
            width: 325px;
            margin-right: 1rem;
        }
    }

    @media only screen and (min-width: 1246px) {
        main {
            min-width: 1071px;
        }
    }

    @media only screen and (min-width: 1070px) {
        form {
            justify-content: center;

            .filter-item {
                margin-bottom: 0;
            }
        }
    }

    @media only screen and (min-width: 1368px) {
        header {
            h1 {
                font-size: 3.5rem;
            }
        }
        
        main {
            min-width: 1146px;
        }

        .property-card {
            width: 350px;
        }

        .property-image {
            height: 175px;
        }
    }

    @media only screen and (min-width: 1920px) {
        header {
            h1 {
                font-size: 4rem;
            }
        }

        main {
            min-width: 1512px;
        }
    }
}