@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
.page-property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page-property main {
  width: 100%;
}

.page-property h1 {
  font-size: 1.5rem;
}

.page-property h2 {
  margin: 0;
}

.page-property .label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
}

.page-property .image-gallery-slides {
  background: black;
}

.page-property .image-gallery-slide {
  height: 100%;
}

.page-property .image-gallery-slide-wrapper {
  height: 300px;
}

.page-property .image-gallery-slide {
  height: 300px;
}

.page-property .image-gallery-thumbnails-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 1rem .5rem 1rem;
  background: #f8f8f8;
}

.page-property .image-gallery-slide .image-gallery-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-property .image-gallery-left-nav .image-gallery-svg, .page-property .image-gallery-right-nav .image-gallery-svg {
  height: 75px;
}

.page-property .image-gallery-thumbnail .image-gallery-thumbnail-inner {
  height: 60px;
}

.page-property .image-gallery-thumbnail .image-gallery-thumbnail-image {
  height: 100%;
}

.page-property .image-gallery-thumbnail.active, .page-property .image-gallery-thumbnail:focus {
  border: 4px solid #BB3A3A;
}

.page-property .image-gallery-thumbnail.active, .page-property .image-gallery-thumbnail:hover {
  border: 4px solid #BB3A3A;
}

.page-property .image-gallery-icon {
  -webkit-filter: drop-shadow(0 2px 2px #5a5a5a);
          filter: drop-shadow(0 2px 2px #5a5a5a);
}

.page-property .image-gallery-icon:hover {
  color: #BB3A3A;
}

.page-property .fullscreen {
  z-index: 1;
}

.page-property .fullscreen .image-gallery-slides {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.page-property .fullscreen .image-gallery-slides .image-gallery-image {
  -o-object-fit: contain;
     object-fit: contain;
}

.page-property .fullscreen .image-gallery-slide {
  height: 100vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.page-property .fullscreen .image-gallery-slide-wrapper {
  height: 90vh;
}

.page-property .fullscreen .image-gallery-slide {
  height: 90vh;
}

.page-property .fullscreen .image-gallery-thumbnails-wrapper {
  background: black;
}

.page-property .property-information {
  padding: 1rem 1.5rem 2rem 1.5rem;
}

.page-property .property-facts {
  border: solid 1px #dbdbdb;
  padding: 1rem 1rem 2rem 1rem;
  margin-top: 2rem;
}

.page-property .property-facts h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.page-property .property-facts .iconify {
  color: #BB3A3A;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.page-property .property-facts .iconify, .page-property .property-facts p {
  display: inline-block;
}

.page-property .property-facts p {
  line-height: 20px;
}

.page-property .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: solid 1px #dbdbdb;
  border-bottom: none;
  width: 100%;
  padding: 4rem 1rem;
}

.page-property .contact-form h2 {
  color: #BB3A3A;
}

.page-property .contact-form form {
  width: 300px;
}

.page-property .fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-property .contact-form-top {
  width: 300px;
}

@media only screen and (min-width: 500px) {
  .page-property .facts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-property .fact {
    width: 215px;
    margin-right: 1rem;
  }
  .page-property .image-gallery-thumbnails {
    left: 3rem;
  }
}

@media only screen and (min-width: 640px) {
  .page-property .fullscreen .image-gallery-slides {
    width: 640px;
  }
}

@media only screen and (min-width: 768px) {
  .page-property .contact-form form {
    width: 400px;
  }
  .page-property .label {
    margin-top: 0;
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
  .page-property .image-gallery-slide-wrapper {
    height: 400px;
  }
  .page-property .image-gallery-slide {
    height: 400px;
  }
}

@media only screen and (min-width: 850px) {
  .page-property .property-facts, .page-property .property-intro {
    width: 750px;
  }
}

@media only screen and (min-width: 1080px) {
  .page-property .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 0;
  }
  .page-property .contact-form {
    width: 400px;
    border: solid 1px #f6f6f6;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  .page-property .contact-form form {
    width: 100%;
  }
  .page-property .property-information {
    padding: 0;
    margin-right: 2rem;
    width: 600px;
  }
  .page-property .property-information .label {
    margin-top: 0;
  }
  .page-property .property-facts, .page-property .property-intro {
    width: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .page-property .contact-form {
    width: 400px;
  }
  .page-property .property-information {
    width: 700px;
    margin-right: 4rem;
  }
}

@media only screen and (min-width: 1368px) {
  .page-property h1 {
    font-size: 2rem;
  }
  .page-property .contact-form {
    width: 400px;
  }
  .page-property .property-information {
    width: 800px;
  }
  .page-property .property-images {
    height: 600px;
  }
  .page-property .image-gallery-slide-wrapper {
    height: 500px;
  }
  .page-property .image-gallery-slide {
    height: 500px;
  }
  .page-property .fullscreen .image-gallery-slides {
    width: 900px;
  }
}

@media only screen and (min-width: 1920px) {
  .page-property .property-images {
    height: auto;
  }
  .page-property .image-gallery-slide-wrapper {
    height: 600px;
  }
  .page-property .image-gallery-slide {
    height: 600px;
  }
  .page-property .fullscreen .image-gallery-slides {
    width: 1200px;
  }
}
/*# sourceMappingURL=Property.css.map */