@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
.recent-listings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 900px;
  height: auto;
  padding: 4rem 1.5rem;
}

.recent-listings h1 {
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
}

.recent-listings h2 {
  margin: 0;
}

.recent-listings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 4rem;
}

.recent-listing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-listing-img {
  position: relative;
  width: 100%;
  height: 200px;
  z-index: -1;
}

.recent-listing-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.recent-listing-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.recent-listing-info {
  margin-top: 1rem;
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .recent-listing-container {
    width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .recent-listing-img {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .recent-listing-container {
    width: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 850px;
    margin-bottom: 4rem;
  }
  .recent-listing-img {
    width: 400px;
    height: 250px;
  }
  .recent-listing-info {
    margin-top: 0;
    width: 375px;
  }
  .house-1 .recent-listing-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .house-1 .recent-listing-info {
    margin-left: 4rem;
  }
  .house-2 .recent-listing-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .house-2 .recent-listing-info {
    margin-right: 4rem;
  }
}

@media only screen and (min-width: 1368px) {
  .recent-listings {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .recent-listings h1 {
    margin-bottom: 4rem;
  }
  .recent-listing-img {
    width: 600px;
    height: 450px;
  }
  .recent-listing-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recent-listing-info {
    position: relative;
    width: 450px;
  }
  .recent-listing-info::after {
    content: '';
    background: white;
    border: solid 2px white;
    position: absolute;
  }
}

@media only screen and (min-width: 1368px) and (min-width: 1920px) {
  .recent-listings {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .recent-listing-img {
    width: 700px;
    height: 500px;
  }
}
/*# sourceMappingURL=RecentListings.css.map */